*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Honk', system-ui;
    font-size: 30px;
}
.heading {
    font-size: 35px;
    width: 100%;
    margin: 0px;
}
.note {
    font-size:15px;
    color: black;
}
body 
{
    background-size: cover;
}
.div_speed
{
    float:left;
}
.div_speed_img
{
    width: 200px;
    border-radius: 100px;
}
#speed
{
    font-size: 23px;
    margin: 15px;
}
.play_button
{
    width: 190px;
    font-size: 25px;
}
canvas {
  border: 5px solid white;
  border-radius:20px;
}